{% extends "base.html" %}
{% block content %}
<div class="container">
  {% if request.GET.next %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
   {% endif %}
  {% if request.GET.error %}
        <div class="alert alert-danger" role="alert">
          <strong>User does not exist!</strong>
        <a href="{% url 'register' %}">Please Register</a></div>
  {% endif %}
  {% if request.GET.success %}
        <div class="alert alert-success" role="alert">
          <strong>Sucessfully created a user!</strong> Please log in below.
        </div>
  {% endif %}
  <form class="form-signin" method="post" id="loginform" name="loginform" action="{% url 'login' %}">
      {% csrf_token %}
          {% for field in form %}
                        <!-- <label for="{{field.name}}"  class="sr-only">{{ field.label }} </label> -->
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                <div class="" style="margin: 10px auto;">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                {% endfor %}
                  <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in </button>
  </form>
  <h4 class = "float-right"> Are you a new user? Register <a href="{% url 'register' %}" >here!</a></h4>

</div> <!-- /container -->
{% endblock %}
